.tool-card {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 8px;
   background-color: #e6f0ff;
   border-radius: 8px;
   padding: 24px 28px 28px 28px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: all 0.3s;
   margin-right: 28px;
}
.arrow-right {
   display: flex;
   justify-content: center;
   width: 28px;
   fill: transparent;
   transition: all 0.3s;
}

.tool-card:hover {
   margin-left: 28px;
   margin-right: 0px;
   background-color: #2a5dab;
}
.tool-card:hover > h2 {
   color: #f4f9ff;
}
.tool-card:hover > .arrow-right {
   fill: #f4f9ff;
}
