rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default rule: deny all reads and writes
    match /{document=**} {
      allow read, write, delete: if false;
    }

    match /SeatingCharts/{document} {
      allow read, write, delete: if true;
    }
  }
}