:root {
   --grey-colour: #7f7f7f;
}

.new-chart-button {
   padding: 12px 20px;
   display: flex;
   justify-content: center;
   align-items: center;

   font-weight: 500;

   color: rgb(239, 239, 239);
   background-color: #2a5dab;
   border: 1px solid transparent;
   border-radius: 8px;
   cursor: pointer;

   transition: all 0.3s;
}

.new-chart-button:hover {
   color: #07234d;
   background-color: #c3d1e8;
   border: 1px solid #07234d;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
   display: flex;
   width: 100%;
   padding-top: 4px;
}

.name-input-n,
.date-input-n {
   font-size: 18px;
   padding: 8px;
   background-color: rgb(239, 239, 239);
   border: 1px solid #ccc;
   box-sizing: border-box;
   border-radius: 4px;
   flex-grow: 1;
   width: 100%;
}

/* Styles for date input placeholder */
.date-input::placeholder {
   color: var(--grey-colour);
}

.date-input.empty {
   color: var(--grey-colour);
}

/* For WebKit browsers (Chrome, Safari) */
.date-input::-webkit-input-placeholder {
   color: var(--grey-colour);
}

/* For Firefox */
.date-input::-moz-placeholder {
   color: var(--grey-colour);
   opacity: 1;
}

.date-input::-webkit-calendar-picker-indicator {
   opacity: 0.5;
}

form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

button[type="submit"] {
   margin-top: 10px;
   padding: 8px 16px;
   color: rgb(239, 239, 239);
   background-color: #2a5dab;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: all 0.3s;
}

button[type="submit"]:hover {
   color: rgb(255, 255, 255);
   background-color: #5086d7;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
   margin-bottom: 15px;
   padding-bottom: 8px;
   font-size: 1.5rem;
   font-weight: bold;
}

.error-message {
   color: red;
   margin-bottom: 10px;
}
