.table {
   width: 1in;
   height: 1in;
   margin: 16px;
   border-radius: 50%;
   border: 2px dashed black;
   position: relative;
   transition: box-shadow 0.3s;
   transition: background-color 0.3s;
   transition: border-color 0.3s;
}
.table:hover {
   cursor: pointer;
}
.table.vacant {
   background-color: rgb(229, 229, 229);
}
.table.vacant:hover {
   background-color: rgb(241, 241, 241);
   border: 2px solid rgb(0, 92, 158);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.table.selected {
   background-color: rgb(148, 203, 241);
   border: 2px solid rgb(0, 92, 158);
}
.table.assigned {
   border: 2px solid black;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table.assigned.INCOMPLETE {
   background-color: #f96161;
   border: 2px solid #9c2a2a;
}
.table.selected.INCOMPLETE {
   background-color: #fc7373;
   border: 2px solid #fc7373;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.table.CONFIRMED {
   background-color: #b4f3bd;
   border: 2px solid #108722;
}
.table.selected.CONFIRMED {
   background-color: #b4f3bd;
   border: 2px solid #b4f3bd;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.table.goldberg {
   background-color: #ffdf2c;
   border: 2px solid #c9ab00;
}
.table.selected.goldberg {
   background-color: #ffdf2c;
   border: 2px solid #ffdf2c;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.table-id {
   color: black;
   background-color: white;
   position: absolute;
   z-index: 20;
   top: 0.9in;
   left: -0.1in;
   font-size: 16px;
}

@media print {
   .table.selected {
      border: 2px dashed black;
   }
   .table.selected.ass {
      border: 2px solid black;
   }
   .table.vacant {
      border: 2px dashed black;
   }
   .table.vacant:hover {
      border: 2px dashed black;
      box-shadow: none;
   }
   .table.CONFIRMED,
   .table.INCOMPLETE,
   .table.goldberg {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}

/* .table-min-container {
   position: absolute;
   inset: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.table-min-text {
   font-weight: 900;
   line-height: 1;
   white-space: nowrap;
   text-align: center;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #c8c8c8;
} */
.table-min {
   pointer-events: none;
   font-weight: 900;
   color: #108722;
   background-color: white;
   border-radius: 8px;
   position: absolute;
   z-index: 20;
   top: 0.9in;
   right: -0.1in;
   font-size: 16px;
}
