.login-microsoft {
   margin-top: 20px;
   padding: 8px 12px;
   display: flex;
   justify-content: center;
   align-items: center;

   font-weight: 500;

   color: rgb(239, 239, 239);
   background-color: #2a5dab;
   border: 1px solid transparent;
   border-radius: 8px;
   cursor: pointer;

   transition: all 0.3s;
}

.login-microsoft:hover {
   color: #07234d;
   background-color: #c3d1e8;
   border: 1px solid #07234d;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
