.user-details {
   width: 100%;
   background-color: #fbfbfb;
   border: 2px solid #ccc;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   color: black;
}
.user-details-content {
   padding: 12px 16px;
}
